<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.ehwls99.mapper.SaleMapper">

	<insert id="">
		
	</insert>
	
	<delete id="">
		
	</delete>
	
	<delete id="">
		
	</delete>
	
	<!--  -->
	<select id="getList" resultType="org.zerock.ehwls99.domain.SaleVO">
		
	</select>
	
	<select id="" resultType="">
		
	</select>

</mapper>